<div class="col-md-12">
  <%= form_for [@basket, @basket_item], :html => {class: "form-horizontal", role: "form"} do |f| %>
    <div class="form-group">
      <div class="control-label col-md-2">
        <%= f.label "Product Code", id: 'product-code' %>
      </div>
      <div class="col-md-4">
        <%= f.collection_select :product_id, Product.all, :id, :code, class: "form-control", autofocus: true %>
      </div>
      <div class="col-md-1 col-md-offset-1">
        <%= f.submit "Add Item", class: "btn btn-primary btn-lg pull-right" %>
      </div>
    </div>

    <div class="col-md-12">
      <% if @basket.basket_items.any? %>
        <% @basket.basket_items.each do |item| %>
          <% unless item.product.nil? %>
            <div>
              <%= item.product.code %>
            </div>
            <div>
              <%= item.product.price %>
            </div>
          <% end %>
        <% end %>
      <% else %>
        Basket is empty
      <% end %>
    </div>
  <% end %>
</div>
